html * {
  font-size: 2em;
  font-family: monospace;
}

div.container {
  text-align: center;
}

div.length {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
  background: white;
}

p.password {
  width: 100%;
  display: inline-block;
  overflow-wrap: break-word;
}
